@model OrderDishCodePromo
@{
    Layout = "_LayoutCustomer";
}
@{
    ViewData["Title"] = "CommandConfirmation";
}

<h1>command confirmation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderDishes.First().dish.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDishes.First().dish.PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDishes.First().quantity)
            </th>
            <th>
                total
            </th>
        </tr>
    </thead>
    <tbody>
        @{ decimal sommeTotal = 0;}
        @foreach (var item in Model.orderDishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dish.NAME)
                </td>
                <td>
                    @{var price = item.dish.PRICE * ((decimal)1 - ((decimal)Model.discount / 100));}
                    @price
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                @{decimal s = item.quantity * item.dish.PRICE * ((decimal)1 - ((decimal)Model.discount / 100));
                    sommeTotal += s;}
                <td>
                    @Html.DisplayFor(modelItem => s)
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3"><span style='font-weight:bold;'>total of this order :</span></td>
            <td><span style='font-weight:bold;'>@sommeTotal</span></td>
        </tr>
    </tfoot>
</table>
