@model IEnumerable<DishVM>
@{
    Layout = "_LayoutCustomer";
}
@{
    ViewData["Title"] = "DishesList";
}

@if (Model != null && Model.Count() > 0)
{
    <h1>Dishes of @Model.First().restaurantName in @Model.First().cityName</h1>

    <h1>@Html.ActionLink("Command", "CommandPage", new { idRestaurant = Model.First().dish.ID_RESTAURANT })</h1>


}
@if(Model.Count()==0)
{
    <h1>there is no dishes in this restaurant</h1>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dish.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dish.PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dish.image_url)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dish.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dish.PRICE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dish.image_url)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
