@model IEnumerable<DTO.City>

@{
    Layout = "_LayoutCustomer";
}
@{
    ViewData["Title"] = "Index";
}

<h1>list of citys</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CITYNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NPA)
            </th>
            <th>
                image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CITYNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NPA)
                </td>
                <td>
                    <img src="~/Images/CITY/@item.image_url" width="200" height="200" />
                </td>
                <td>
                    @Html.ActionLink("view more", "RestaurantsList", new { idCity = item.IDCITY })

                </td>
            </tr>
        }
    </tbody>
</table>
