@model DTO.Restaurant

@{
    ViewData["Title"] = "Profile";
}
@{
    Layout = "_LayoutRestaurant";
}

<h1>Profile</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ADRESS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ADRESS)
        </dd>
        <dt class="col-sm-2">
            PHONE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PHONENUMBER)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USERNAME)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit Password", "EditPassword", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to Home</a>
</div>
