@model IEnumerable<OrderQuantityVM>
@{
    Layout = "_LayoutRestaurant";
}
@{
    ViewData["Title"] = "Statistics";
}
<h1>dishes statistics</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                dish name
            </th>
            <th>
                quantity sold
            </th>
            <th>
                CA
            </th>
        </tr>
    </thead>
    <tbody>
        @{decimal sommeCA = 0;
          int sommeQuantity = 0;
         }

        @foreach (var item in Model)
        {
            sommeCA += item.CA;
            sommeQuantity += item.quantity;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dish.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CA)
                    

                </td>

            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="1"><span style='font-weight:bold;'>general stats </span></td>
            <td><span style='font-weight:bold;'>@sommeQuantity</span></td>
            <td><span style='font-weight:bold;'>@sommeCA</span></td>
        </tr>
    </tfoot>


</table>