@model IEnumerable<OrderVM>
@{
    Layout = "_LayoutCustomer";
}
@{
    ViewData["Title"] = "OrderInbound";
}

<h1>OrderInbound</h1>

<p>
    @*No creation allowed*@
    @*<a asp-action="Create">Create New</a>*@
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    restaurant
                </th>
                <th>
                    city
                </th>

                <th>
                   time
                </th>
                <th>
                    discount
                </th>
                <th>
                    total Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.restaurantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cityName)
                    </td>
                    <td>
                        @{ string hour = string.Format("{0:D2}:{1:D2}", item.order.ORDERDATE.Hour , item.order.ORDERDATE.Minute);}
                        @hour

                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order.DISCOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order.TOTALPRICE)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "OrderDetails", new { id = item.order.ID_ORDER })
                    </td>
                </tr>
            }
        </tbody>
    </table>


